.btn-profile{
   width: 150px;
}
.title-profile-detail{
    margin-top: 20px;
    color: #68ae00;
    font-size: 1.8rem;
    font-weight: 600;
}
.row-btn{
    overflow: hidden;
}
.profile-detail{
    overflow-x: hidden;
}