.btn-profile{
   width: 150px;
}
.title-profile-detail{
    margin-top: 20px;
    color: #68ae00;
    font-size: 1.8rem;
    font-weight: 600;
}
.row-bnt{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
