.wrapper-content {
  width: calc(100% - 30px);
  margin-left: auto;
  transition: width 0.2s ease;
  @include laptop() {
    width: calc(100% - 230px);
  }
  background-color: $background;
}
body {
  background-color: $background;
}
.container-search-box {
  @include flex(row, stretch, center, wrap);
}

.container {
  background-color: $background;
}
.search-box {
  background-color: #ffffff;
}

.list-title {
  margin: 20px;
  color: $green;
  font-size: 1.8rem;
  font-weight: 600;
}
.ant-table {
  border: 1px solid $platinum;
}

.fas.fa-edit {
  color: #80baef;
}
fas.fa-trash-alt {
  color: #80baef;
}

.fas.fa-plus-square {
  color: #80baef;
}
.fas:hover {
  color: #0483f7;
}
.fas {
  cursor: pointer;
}
