/* Colors */
$black: #03071e;
$blue: #14213d;
$orange: #fca311;
$platinum: #e5e5e5;
$white: #ffffff;

/* Theme */
$dark: $black;
$primary: $blue;
$secondary: $orange;
$light: $platinum;

/* Devices size */
$sm: 36em;
$md: 48em;
$lg: 64em;
$xl: 75em;

/* Contants */
$width-sidebar: 230px;
