/* Colors */
$black: #202121;
$blue: #14213d;
$orange: #fca311;
$platinum: #e5e5e5;
$white: #ffffff;
$green: #68ae00;
$background: #fafafa;

/* Theme */
$dark: $black;
$primary: $blue;
$secondary: $orange;
$light: $platinum;

/* Devices size */
$sm: 36em;
$md: 48em;
$lg: 64em;
$xl: 75em;

/* Contants */
$width-sidebar: 50px;
$width-sidebar-toggled: 200px;
