.sortor {
    display: inline-block;
    
    
}
.sortor :hover {
    color: #1890ff;

}

.sortor span {
    display: block;
    height: 8px;
    padding-left: 5px;

}
.table-list {
    margin: 0 20px;
    padding: 15px 0px 0px 0px;
}