.header {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: $platinum;
  .logo {
    background-color: $primary;
    position: relative;
    width: 150px;
    height: 100%;
    text-align: center;
    a {
      color: $white;
      display: block;
      line-height: 100%;
      width: 100%;
      @include centerAbsolute('both');
    }
  }
  .nav-bar {
    padding-right: 20px;
    flex-grow: 1;
    @include flex(row, space-between, center, nowrap);
    .sidebar-toggle {
      @include flex(row, center, center);
      height: 100%;
      width: 50px;
      cursor: pointer;
      &:hover {
        background-color: $secondary;
      }
    }
  }
  @include tablet() {
  }
  @include laptop() {
    .logo {
      width: 230px;
    }
  }
}

.nav {
  list-style: none;
}
