.header {
  display: flex;
  width: 100%;
  height: 56px;
  background-color: $platinum;
  transition: all 0.2s ease;
  .nav_logo {
    // background: linear-gradient(45deg, $secondary, $green);
    background-color: $dark;
    position: relative;
    z-index: 30;
    width: 200px;
    height: 100%;
    text-align: center;
    transition: all 0.2s ease;
    @include border($orange);
    .wrapper-logo {
      @include flex(row, space-evenly, center);
      height: 100%;
      svg {
        height: 54px;
        width: 54px;
      }
      image {
        height: 54px;
        width: 54px;
      }
      span,
      bold {
        text-align: center;
        display: inline-block;
      }
    }
    a {
      @include flex(row, center);
      color: $platinum;
      display: inline-block;
      line-height: 100%;
      font-size: 20px;
      @include cover();
    }
  }
  .nav-bar {
    padding-right: 20px;
    flex-grow: 1;
    @include flex(row, space-between, center, nowrap);
    @include border($dark);
    .sidebar-toggle {
      @include flex(row, center, center);
      height: 100%;
      width: 50px;
      cursor: pointer;
      &:hover {
        background-color: $secondary;
      }
    }
  }
  .user-menu {
    cursor: pointer;
    position: relative;
  }
  

.nav {
  list-style: none;
}

.dropdown-list-menu{
  position: absolute;
  display: flex;
  font-size: 20px;
  top: 55px;
  right: 0px;
  margin-right: 20px;
  background-color: #fafafa;
  @include flex(row,column,center);
  z-index: 1;

  width: 200px; 
}
.dropdown-list-menu ul{
    box-shadow: 0 7px 19px -1px hsl(0, 0%, 90%);
  background-color: white;
  padding-bottom: 10px;
    
}
.dropdown-list-menu ul li{
  font-size: 15px;
  width: 100%;
}
.dropdown-list-menu ul li a{
  color: black;
}
.dropdown-list-menu ul li:hover{
  background-color: #f0f0f0;
}
.dropdown-list-menu ul li:first-child{
  background-color: #fafafa;
  margin-top: 0px;
  color: gray ;
  }
.dropdown-list-menu ul li :last-child{
  justify-content: center;

  }
.check-login-logout{
  margin-bottom: 10px;
  }
}
