.dayoff-regist-input {
  /* border: 1px solid #e3e3e3; */
  padding: 0;
  margin: 0;
}

.dayoff-regist-button {
  display: flex;
  justify-content: center;
}

.dayoff-regist-button > button {
  margin-left: 10px;
}

.dayoff-regist-input .ant-form-item-label {
  text-align: left;
}

.dayoff-regist-input .day-of-regist-input-first-form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.dayoff-regist-input .day-of-regist-input-last-form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
