.dayoff-table {
    margin: 20px;
}

.dayoff-table-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.dayoff-table-button {
    margin-right: 10px;
    margin-bottom: -40px;
    z-index: 999;
}