.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 56px;
  height: 56px;
  width: calc(100vw - 56px);
  background-color: #dee0fb;
  z-index: 15;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.header-option {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.header-option > i {
  font-size: 24px;
  margin-left: 5px;
  padding-bottom: 8px;
}
