.holiday-regist-field {
    position: relative;
    left: 25%;
}

.holiday-regist-button {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.holiday-regist-button > button {
    margin-left: 10px;
}
