.request-table {
  padding: 20px 20px;
  font-size: 30px;
}
.request-table-add {
  margin-right: 10px;
  margin-bottom: 12px;
  /* float: left; */
  width: 94px;
}
.request-table-action {
  display: flex;
  justify-content: space-around;
}
.request-table-action i {
  color: #80baef;
}
.request-table-action i:hover {
  color: #0483f7;
}
