.side-bar-item {
    display: flex;
    color: white;
    height: 47px;
    align-items: center;
}

.side-bar-item-icon {
    width: 56px;
    height: 100%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-bar-item:hover {
    background-color: #33445a;
    cursor: pointer;
}