.side-bar {
  position: fixed;
  top: 50px;
  left: -230px;
  height: 100vh;
  width: 56px;
  background-color: #03071e;
  z-index: 20;
  transition: all 0.2s ease;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.toggled {
  width: 230px;
  transform: translateX(0);
}
@media only screen and (min-width: 64em) {
  .side-bar {
    left: 0;
  }
}
/* side-bar-header */
.side-bar-header {
  color: #c7d3df;
  white-space: nowrap;
  padding: 14px 0;
  border-bottom: 1px solid #374455;
}

.side-bar-header > i {
  font-size: 24px;
  width: 56px;
  text-align: center;
}

.side-bar-header > i:hover {
  cursor: pointer;
}

/* side-bar-item */
.side-bar-item {
  color: #c7d3df;
  white-space: nowrap;
  padding: 10px 0;
}

.side-bar-item:hover {
  cursor: pointer;
  background-color: #33445a;
}

.side-bar-item > i {
  font-size: 24px;
  width: 56px;
  text-align: center;
}
