.skill-table {
  padding: 20px 20px;
}
.skill-table-action {
  display: flex;
  justify-content: space-around;
}
.skill-table-add {
  float: right;
  margin-right: 1px;
  margin-bottom: 41px;
  width: 94px;
}
