.skill-search-box {
  border: 1px solid #e3e3e3;
  padding: 20px;
  margin: 20px 20px;
  margin-top: 76px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-search-box .user-search-box-button {
  float: right;
}
