.skill-table {
  margin: 40px 0px 0px 20px;
}
.skill-table-action {
  display: flex;
  justify-content: space-around;
}
.table {
  padding-right: 20px;
}
.skill-table-add {
  float: right;
  margin-right: 1px;
  margin-bottom: 41px;
  width: 94px;
}
