.side-bar {
  position: fixed;
  top: 0;
  height: 100vh;
  width: $width-sidebar;
  background-color: $green;
  z-index: 20;
  transition: all 0.2s ease;
  overflow-x: hidden;
  @include flex(column, center);
  flex-direction: column;
  .side-bar-container {
    padding-top: 56px;
    position: relative;
    height: 100%;
    background-color: $dark;
    @include flex(column, null, flex-start);
  }
  &__icon {
    position: absolute;
    right: 0px;
    top: 20px;
    margin-top: 10px;
    padding-right: 19px;
    // width: 100%;
    cursor: pointer;
    .open {
      color: $orange;
    }
    svg {
      font-size: 20px;
      color: $platinum;
    }
    svg:hover {
      color: $orange;
    }
  }
  &__item {
    color: $platinum;
    white-space: nowrap;
    height: 50px;
    padding: 20px;
    cursor: pointer;
    svg {
      font-size: 20px;
      text-align: center;
      margin-left: auto;
    }
    span {
      font-size: 16px;
      margin-left: 20px;
    }
    .icon-25 {
      display: inline-block;
      width: 25px;
    }
  }
  &__item:hover {
    color: $orange;
    svg {
      color: $orange;
    }
  }
}
@media only screen and (min-width: 64em) {
  .side-bar {
    left: 0;
  }
}
